name: matunet_env
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - numpy
  - pillow
  - matplotlib  
  - scikit-learn 
  - tqdm
  - pip
  - pip:
    - wandb
    - opencv-python # 备用，CV 任务常备库